/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fbf8f8;/* Light gray background */
    color: #333;
    transition: all 0.3s ease;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.container {
    max-width: 800px;
    margin-top: 50px;
}

h1, h2 {
    font-weight: bold;
    color: #007bff;
}

h2 {
    margin-bottom: 20px;
}

.navbar {
    background-color: #800080;
}
/* Navbar */
.navbar-brand img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.table-purple {
    background-color: #800080; /* Warna ungu */
    color: #ffffff; /* Teks putih */
}

/* Table */
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    text-align: center;
}

.nav-link1 {
    background-color: #28a745;
}
/* Buttons */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Footer */
footer {
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

footer img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Carousel Images */
.carousel-item img {
    max-width: 50%; /* Reduce the width to 50% of the container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image is fully contained */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure block-level display for centering */
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .carousel-item img {
        max-width: 60%; /* Slightly larger for tablets */
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        max-width: 60%; /* Larger for very small screens */
    }
}
/* General event styles */
.fc-event {
    background-color: #ffffff;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* Specific animation for "Ujian Akhir Semester" */
.animated-event {
    animation: moveText 2s infinite linear; /* Applies animation */
}

/* Keyframes for text movement */
@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); /* Moves text 10px to the right */
    }
    100% {
        transform: translateX(0); /* Moves text back to its original position */
    }
}




 